* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

a {
     text-decoration: none;
}

ul {
     list-style: none;
}

.container {
     max-width: 1140px;
     width: 100%;
     margin: 0 auto;
     padding: 0 15px;
}

/* header */

.header {
     min-height: 100dvh;
     background: dodgerblue;
     display: flex;
     flex-direction: column;
}

.header__nav {
     padding: 20px 0;
}

.header__nav .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.header__logo {
     font-size: 36px;
     color: #fff;
     text-transform: uppercase;
}

.header__tel {
     font-size: 20px;
     color: #fff;
}

.header__content {
     display: grid;
     place-items: center;
     place-content: center;
     flex-grow: 1;
     gap: 16px;
}

.header__content-title {
     font-size: 6vw;
     color: #fff;
}

.header__content-subtitle {
     font-size: 24px;
     color: #fff;
}

.header__content-btn {
     font-size: 18px;
     color: #fff;
     background: #000;
     max-width: 170px;
     width: 100%;
     padding: 10px 0;
     text-align: center;
}


/* .header__content-title { */
     /* font-size: 6vw; */
     /* font-size: calc(18px + 62 * (100vw / 1920)); */
     /* 36 mobile size */
     /* 36 + 29 desktop size */
/* } */

/* @media (min-width: 2560px) {
     .header__content-title {font-size: 80px;}
}

@media (max-width: 768px) {
     .header__content-title {
          font-size: calc(18px + 62 * ((100vw - 320px) / 1920));
     }
} */

/* header */